main .flex {
    background-color: lightgray;
    height: 50vh;
}

.flex {
    display: flex;
    /* flex-direction: row; */
    /* default value adalah row, boleh tidak dituliskan */
    /* flex-direction: row-reverse;  */
    flex-direction: column;
    /* flex-direction: column-reverse; */
}