:root {
    --primaryColor: #ed1b24;
    --secondaryColor: #fef200;
    --fontColor: #2c2c3c;
    --shadowColor: #7c7970;
    --secondaryShadow: #f3eb62;
    --accentColor: #e7e7d5;
    --tertiaryColor: #9a9507;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: var(--secondaryColor);
    display: flex;
    padding: 1.4rem 7%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

header .logo .navbar-logo {
    color: var(--fontColor);
}

header .logo span {
    font-size: 1.6rem;
    font-style: italic;
    color: var(--primaryColor);
    font-weight: 500;
}

header nav ul {
    display: flex;
    gap: 1rem;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--fontColor);
}

header nav ul li a:hover {
    color: var(--shadowColor);
}

header nav ul li a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--fontColor);
    transform: scaleX(0);
    transition: 0.2s linear;
}

header nav ul li a:hover::after {
    transform: scaleX(0.5);
}