/* general */
:root {
    --primaryColor: #ed1b24;
    --secondaryColor: #fef200;
    --fontColor: #2c2c3c;
    --shadowColor: #7c7970;
    --secondaryShadow: #f3eb62;
    --accentColor: #e7e7d5;
    --tertiaryColor: #9a9507;
    --onPrimary: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--fontColor);
    font-size: 1.2rem;
}

/* header */
.main-header {
    display: flex;
    background-color: var(--secondaryColor);
    padding: 1.5rem 7%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-shadow: 1px 5px 5px -4px var(--primaryColor);
}

.main-header .logo {
    font-style: italic;
}

.main-header .logo span {
    font-size: 1.6rem;
    color: var(--primaryColor);
}

/* search */
input[type="search"] {
    width: 400px;
    padding: 1rem 1.5rem 1rem;
    border: 1px solid var(--accentColor);
    border-radius: 999px;
    transition: border-color 0.3s;
}

input[type="search"]:focus {
    border-color: var(--fontColor);
    outline: none;
}

/* navigation */
nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--fontColor);
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--shadowColor);
}

nav ul li a::after {
    content: '';
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--primaryColor);
    transform: scaleX(0);
    transition: 0.2s linear;
}

nav ul li a:hover::after {
    transform: scaleX(0.3);
}

/* main */
main {
    display: flex;
    margin: 0 10%;
    padding-top: 1rem;
    justify-content: space-between;
    gap: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.quotes {
    background-color: var(--primaryColor);
    color: var(--onPrimary);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    font-weight: 500;
}

blockquote::before,
blockquote::after {
    content: '"';
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    line-height: 1.8rem;
}

article img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

article table {
    width: 100%;
    border-collapse: collapse;
}

article table,
th,
td {
    border: 1px solid var(--shadowColor);
}

article table th,
td {
    padding: 0.6rem;
}

article table th {
    background-color: var(--secondaryColor);
    text-align: center;
}

article table td:first-child {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 0;
}

figcaption {
    font-style: italic;
    font-size: 0.8rem;
}

/* aside */
aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20%;
}

aside .additional-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside .title {
    background-color: var(--shadowColor);
    color: var(--onPrimary);
    text-align: center;
    padding: 1rem;
}

aside table th,
td {
    font-size: 1rem;
    padding: 0.3rem;
}