:root {
    --primaryColor: #0118D8;
    --secondColor: #0118D8;
    --thirdColor: #E9DFC3;
    --onPrimary: #FFF8F8;
    --logoColor: rgb(255, 45, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--onPrimary);
}

/* header */
header {
    background-color: var(--thirdColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 1px solid var(--logoColor);
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* navbar logo */
.logo .navbar-logo {
    color: var(--logoColor);
    font-size: 2rem;
    font-weight: 700;
}

.logo .navbar-logo span {
    font-style: italic;
    color: var(--secondColor);
    font-size: 1.5rem;
}

/* navbar list*/
nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: var(--secondColor);
    font-weight: 500;
    font-size: 1.1rem;
}

nav a:hover {
    /* border-bottom: 1px solid var(--secondColor); */
    color: #3d51ff;
}

nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--secondColor);
    transform: scaleX(0);
    transition: 0.2s linear;
}

nav a:hover::after {
    transform: scaleX(0.5);
}

/* extra */
.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hireme-btn {
    background-color: var(--logoColor);
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 999px;
    border: 2px solid white;
    transition: .2s;
}

.hireme-btn:hover {
    border: 2px solid var(--logoColor);
    background-color: white;
    color: var(--logoColor);
}

#hamburger-menu {
    display: none;
}

/* main */
main {
    display: flex;
    height: 100vh;
}

.content {
    overflow: auto;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    background-color: var(--thirdColor);
    padding: 1.5rem;
}

/* media queries */

/* Laptop */
@media screen and (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Table */
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    nav {
        display: none;
    }

    #hamburger-menu {
        display: inline-block;
    }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }


}