body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body div {
    width: 60%;
    margin: 8px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}