:root {
    /* Light Mode */
    /* Accent Primary */
    --color-accent-primary: #0062fa;
    --color-accent-primary-hover: #0053cb;
    --color-accent-primary-active: #0041a4;

    /* Information Background Color*/
    --successColor: #e1ffe1;
    --infoColor: #e2f7ff;
    --errorColor: #ffe8ea;
    --warningColor: #fff4d0;

    /* Color Icon */
    --icon-color-success: #007700;
    --icon-color-information: #0053cb;
    --icon-color-error: #b20037;
    --icon-color-warning: #9c5200;

    /* Link Color */
    --link-color: #0062fa;
    --link-color-hover: #0053cb;
    --link-color-active: #0041a4;

    /* Outline Color */
    --outline-color-error: #b20037;

    /* Focus Color */
    --focus-outline-color: #0062fa;



    /* Dark Mode */
    /* Accent Primary */
    --color-accent-primary-dark-mode: #00cadb;
    --color-accent-primary-hover-dark-mode: #61dce9;
    --color-accent-primary-active-dark-mode: #a6ecf4;

    /* Information Background Color*/
    --successColor: #003200;
    --infoColor: #042356;
    --errorColor: #4c0516;
    --warningColor: #421b00;

    /* Color Icon */
    --icon-color-success: #b5f0b5;
    --icon-color-information: #abdfff;
    --icon-color-error: #ffc3c9;
    --icon-color-warning: #ffe699;

    /* Link Color */
    --link-color: #00cadb;
    --link-color-hover: #61dce9;
    --link-color-active: #a6ecf4;

    /* Outline Color */
    --outline-color-error: #ffa0aa;

    /* Focus Color */
    --focus-outline-color: #00cadb;
}